@import url("https://fonts.google.com/share?selection.family=Urbanist:ital,wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "urbanlist", sans-serif;
}
.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

section {
  padding: 50px, 0;
}
